.NoteAdd input, .NoteAdd textarea {
    outline: none;
    border: 1px solid #ccc;
    background-color: white;
    font: inherit;
    padding: 6px 10px;
    margin: 10px auto;
    display: block;
    width: 100%;
    box-sizing: border-box;
}

.NoteAdd textarea {
    height: 100px;
    resize: none;
}
.NoteAdd button{
    padding: 10px;
    border: 1px solid #2287dc69;
    background: lightgray;
    cursor: pointer;
}