.Item{
    width: 100%;
    border:1px solid grey;
    display: inline-block;
    position: relative;
    line-height: 2;

}
.Name{
    position: absolute;
    left: 0;
}

.RemButton{
    position: absolute;
    right: 0;

}